section {
    margin-top: calc(0px - 1rem - 6px); 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
       
}


.header {
    display: flex;   
    align-items: center;
    justify-content: center; 
    font-size: 12px;   
   
}


.header div input {
    width: 36rem;
    height: 2.75rem;
    border-radius: 8px;
    margin-right: 8px;

    
    
    border: 0;
    background: var(--gray-500);
    text-align: left;
    padding-left: 10px;
    color: var(--gray-300);
    
    
}

.header div button {
  
    display: inline-flex;
    gap:2px;
    align-items: center;
    justify-content: center;
    height: 2.75rem;
    width: 5.62rem;
    border-radius: 8px;
    border: 0;
    background: var(--blueDark);
    color: var(--gray-100);   
    
}

.content {

    margin-top: 60px;  
    display: grid;
    align-items: center;
    justify-content: left;
    width: 678px;
 

}

.headerTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 668px;    
    border-bottom: 1px solid #EBEBEB;
    border-radius: 4px;
    margin-bottom: 20px;
}

.taskCriada {
    display: flex;
    justify-content: center;
    color: var(--blue);
    font-size: 14px;
}

.taskCriada > p {
    
    background: var(--gray-400);
    border: 0;
    border-radius: 8px;
    width: 28px;
    height: 17px;
    text-align: center;
    font-size: 10px;
    color: var(--gray-100);
    margin-left: 2px;
    font-weight: bold;
    
}

.taskConlcuidas > span {  

    color: var(--purple);
    font-size: 14px;
    
}

.taskConlcuidas > p {
    background: var(--gray-400);
    border: 0;
    border-radius: 8px;
    width: 58px;
    height: 17px;
    font-size: 10px;
    color: var(--gray-100);
    text-align: center;
    margin-left: 2px;
    font-weight: bold;
    
}

.taskList {
        display: block;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        color: var(--gray-100);  /* Criei agora */
        padding: 1rem 0;
        list-style: none;
        


}


.contentList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 678px;
    height: 50px;
    border-radius: 4px;
    padding: 3px;      
    background: var(--gray-400);
}

.contentList + .contentList{
    margin-top: 0.5rem;
}

.contentList > svg {
    color: var(--gray-300);
    margin-right: 10px;
} 

.checkbox{
    content:"";
    margin-left: 3px;
    background: #aaaa; 
    border-radius: 100%;
    position: relative;
}
.contentList div label {
    margin-left: 8px;
}
